
</div>
<div class="footer container-fluid">
  <p class="footer-p">Made by shiva singh <br><span>All RightReserved@2021</span></p>
  <a class=footerr0   href="https://github.com/beaShiva"><i class="fab fa-github"></i></a>
  <a class=footerr1   href="https://instagram.com/shivathakur0o7?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
  <a class=footerr2   href =""><i class="fab fa-facebook-square"></i></a>
  <a class=footerr3   href="https://www.linkedin.com/in/shiva-singh-a38583209"><i class="fab fa-linkedin"></i></a>
  <a class=footerr4   href="https://www.quora.com/profile/Shiva-Singh-1382?ch=99&oid=982111096&share=58173919&srid=YIZee&target_type=user"><i class="fab fa-quora"></i></a>
      
     
    </div>
    
  </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>