<%- include("partials/header"); -%>


 <div class="container error">
    <div class="jumbotron">
      <h1 class="error-heading">404</h1>
     <p class="error-p">Something is wrong !!!</p>
     <p class="error-p2">Enter correct information</p>
     <a type="button" class="btn btn-danger" href="/login">Go Back</a>
     <a class="btn btn-primary" href="/">Home</a>
    </div>
   
  </div>